        :host ::ng-deep .p-speeddial {
            position: fixed;
            bottom: 15px;
            right: 15px;
        }

        :host ::ng-deep .p-speeddial-button.p-button.p-button-icon-only {
            width: 4rem;
            height: 4rem;
        }

        :host ::ng-deep .p-speeddial-action {
            width: 3rem;
            height: 3rem;
        }